:root{
    --dark_blue: #024e76;
    --light_blue: #39a6b2;
    --yellow: #fce138;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--light_blue);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--light_blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--yellow);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header a {
    text-decoration: none;
    color: var(--yellow);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section{
    padding: 60px;
}

.hero{
    background-image: url('../images/hero-bg.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--yellow);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.page-title{
    color: #fce138;
    display: inline-block;
    border-bottom: 4px solid #fce138;
    padding: 0 80px 15px 80px;
    font-weight: normal;
    font-size: 42px;
    font-style: italic;
}

.hero_form{
    background-color: rgba(252,225,56,0.8);
    padding: 20px;
    color: var(--dark_blue);
    border-style: solid;
    border-width: 3px;
    border-color: var(--dark_blue);
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.hero_form h3{
    font-size: 24px;
    margin: 0;
}

.hero_form p{
    margin: 5px 0 15px 0;
}

.hero_form label{
    margin: 0 5px;
}

.hero_form button{
    color: var(--yellow);
    background-color: var(--dark_blue);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}

.form_input{
    border: 1px solid var(--dark_blue);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--dark_blue);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.form_input:focus{
    background-color: rgba(255,255,255, 1);
    outline: none;
}

.intro h2{
    font-size: 55px;
    color: var(--dark_blue);
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: var(--yellow);
    display: inline-block;
}

.intro p {
    line-height: 1.7;
    color: var(--light_blue);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.steps{
    background: var(--yellow);
}

.steps h2 {
    font-size: 55px;
    color: var(--dark_blue);
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: var(--light_blue);
}

.section-title {
    font-size: 48px;
    color: var(--dark_blue);
    border-bottom: 3px solid;
}

.primary-border {
    border-color: var(--yellow);
}
  
.secondary-border {
    border-color: var(--light_blue);
}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid var(--light_blue);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* .step:last-child {
    border-bottom: 1px solid #39a6b2;
} */
  
.step h3 {
    color: var(--dark_blue);
    font-size: 46px;
    flex: 1 30%;
}

.step-text{
    flex: 12;
}

.step-img img {
    max-width: 100%;
}
  
.step-text p {
    color: var(--light_blue);
    font-size: 18px;
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--dark_blue);
}

.step-info{
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trainer {
    margin: 20px;
    background: var(--dark_blue);
    color: var(--yellow);
    flex: 1;
}

.trainer img {
    width: 100%;
}
  
.trainer-bio {
    padding: 25px;
    line-height: 1.3;
}

.text-left {
    text-align: left;
}
  
  .text-right {
    text-align: right;
}

.trainer-bio h3 {
    font-size: 28px;
}
  
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
  
.trainer-bio p {
    font-size: 17px;
}

.section-title {
    font-size: 55px;
    display: inline-block;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    margin-bottom: 35px;
    color: var(--dark_blue);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.contact {
    background: var(--dark_blue);
}

.contact-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact h2 {
    color: var(--yellow);
}

.contact-info iframe {
    height: 400px;
}

.contact-info div {
    color: white;
}

.contact-info h3 {
    color: var(--yellow);
    font-size: 32px;
}
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}
  
  .contact-info a {
    color: var(--yellow);
}

.contact-form input, .contact-form textarea{
    border: 1px solid var(--dark_blue);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--dark_blue);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus{
    background-color: rgba(255,255,255, 1);
}

.contact-form button{
    width: 100%;
    border: none;
    background: var(--yellow);
    color: var(--dark_blue);
    text-align: center;
    font-size: 16px;
    padding: 15px 0;
    border-radius: 10px;
}

footer {
    background: var(--yellow);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--dark_blue);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--dark_blue);
}

.flex-row {
    display: flex;
}

header nav ul li a:hover {
    background: var(--yellow);
    color: var(--dark_blue);
    border-radius: 15px;
    text-shadow: none;
}
  
.hero_form button:hover {
    background-color: var(--light_blue);  
}
  
.contact-form button:hover {
    color: var(--yellow);   
    background: var(--light_blue);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
    }
    
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    .hero-cta, .hero-form {
        width: 100%;
    }
      
    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }
      
    .trainer {
        flex: 0 70%;
    }
      
    .contact-info iframe{
        flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    
    .step h3 {
        flex: 1 100%;
        text-align: center;
    }
    
    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    
    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .step-text {
        flex: 100%;  
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }
    
    .section-title {
        width: 95%;
    }   
    
    .intro p {
        width: 100%;
    }
    
    .trainer {
        flex: 0 100%;
    }
    
    .contact-info {
        text-align: center;
    }
    
    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
  }